# Python bytecode
*.pyc
__pycache__/

# Build artifacts
build/
dist/
*.egg-info/

# Test / coverage output
.pytest_cache/
junit/
htmlcov/
coverage.xml
.coverage

# Virtual environments
venv/

# IDE
.idea/
